.calendar
    .calendar__mounth-panel 
      a.calendar__arrow.material-icons arrow_back
      .calendar__mounth Август 2019
      a.calendar__arrow.material-icons arrow_forward
    .calendar__table
    .calendar__buttons
      a.calendar__clear-button Очистить
      a Применить