.footer {
  width: 100%;
  margin: 0;
  box-shadow: inset 0px 1px 0px rgba(31, 32, 65, 0.1);
  .container {
    display: flex;
  }
  &__widgets {
    display: flex;
    padding: 100px 0;
  }
  &__widget {
    margin-right: 50px;
    max-width: 150px;
  }
  &__subscribe-widget {
    width: 260px;
    .subscription-container {
      margin-top: 20px;
    }
  }
  &__copyright-bar {
    margin: 23px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }
  &__logo-col {
    width: 260px;
    margin-right: 40px;
  }
  svg {
    margin-bottom: 8px;
  }
  &__logo-par {
    margin: 0;
  }
  h3 {
    margin-bottom: 21px;
  }
  &__border {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }
  &__socials-list {
    display: flex;
    align-items: center;
    svg {
      margin: 0;
    }
  }
  &__socials-item {
    margin-right: 20px;
    font-size: 23px;
    .gradient {
      @include purple-gradient;
      color: white;
    }
  }
  hr {
    margin: 0;
    width: 1700px;
  }
}
.footer-item {
  margin-bottom: 20px;
  color: $dark-shade-50;
  line-height: 18px;
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}
