.footer 
    .footer__widgets.footer__border
      .container
        .footer__logo-col 
          include ../../assets/img/toxin.svg
          p.footer__logo-par Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__widget
          h3 навигация
          ul.footer-list 
            li.footer-item
              a О нас
            li.footer-item
              a Новости
            li.footer-item
              a Служба поддержки
            li.footer-item
              a Услуги
        .footer__widget
          h3 о нас
          ul.footer-list 
          li.footer-item
            a О сервисе
          li.footer-item
            a Наша команда
          li.footer-item
            a Вакансии
          li.footer-item
            a Инвесторы
        .footer__widget
          h3 служба поддержки
          ul.footer-list 
          li.footer-item
            a Соглашения
          li.footer-item
            a Сообщества
          li.footer-item
            a Связь с нами
        .footer__subscribe-widget
          h3 подписка
          p Получайте специальные предложения и новости сервиса
          +subscription-input
    .footer__copyright-bar 
      .container
        .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__socials-list 
          a.footer__socials-item
            i(data-fa-mask="fas fa-square-full").fab.fa-twitter.gradient
          a.footer__socials-item
            i(data-fa-mask="fas fa-square-full").fab.fa-facebook-square.gradient
          a.footer__socials-item
            i(data-fa-mask="fas fa-square-full").fab.fa-instagram.gradient
