 form.range-slider(action="")
    .range-slider__wrapper
      label.range-slider__title(for="myRange")  Range slider
      input.range-slider__value(type="text" id="myRange" readonly value="5 000₽ - 10 000₽")
    #slider-range.range-slider__slider