.find-room-block
  h1 Найдём номера под ваши пожелания
  .find-room-block__date
    .datepicker-from
      h3 Прибытие 
      .datepicker-from__value ДД.ММ.ГГГГ
        i.datepicker-from__icon.material-icons expand_more
    .datepicker-from
      h3 Выезд
      .datepicker-from__value ДД.ММ.ГГГГ
        i.datepicker-from__icon.material-icons expand_more
  h3 гости
  .dropdown-count 
      .dropdown-count__placeholder 
        span.dropdown-count__placeholder-text Сколько гостей
        .dropdown-count__icon.material-icons expand_more
      .dropdown-count__options
        ul.dropdown-count__list
          li.dropdown-count__list-item Взрослые
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item Дети
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item Младенцы
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
        .dropdown-count__enter
          a.dropdown-count__clear-button
          a Применить
  button.btn.btn-enter Подобрать номер
      span.material-icons arrow_forward
form.registration-form 
  h1 Регистрация аккаунта
  input.text-input(type="text" placeholder="Имя") 
  input.text-input(type="text" placeholder="Фамилия") 
  label.radio-button(for= 'man') Мужчина
      input.radio-button__radio(type="radio" id="man" name="sex" checked)
      .radio-button__custom-radio
        .radio-button__checkmark
  label.radio-button(for= 'women') Женщина  
      input.radio-button__radio(type="radio" id="women" name="sex")
      .radio-button__custom-radio
        .radio-button__checkmark
  h3 Дата рождения
  input.masked-text-field(type="", name="", placeholder="ДД.ММ.ГГГГ")
  .registration-form__data-login
    h3 данные для входа в сервис
    input.text-input(type="text" placeholder="Email") 
    input.text-input(type="password" placeholder="Пароль") 
    label.toggle-button(for="toggle-one" checked="checked") Получать спецпредложения
        input.toggle-button__input(type="checkbox" id='toggle-one' name="toggle-one")
        .toggle-button__custom-checkbox
          .toggle-button__checkmark
  button.btn.btn-enter Перейти к оплате
      span.material-icons arrow_forward
  .registration-form__login 
   span Уже есть аккаунт на Toxin
   button.btn.btn_primary-border 
    .btn_primary-border__inner Войти
.booking-block
  .booking-block__header 
    .booking-block__room № 
      span.booking-block__number-room 888 
      span.booking-block__type-room люкс
    .booking-block__price 
      strong 9 990₽ 
      | в сутки
  .find-room-block__date
    .datepicker-from
      h3 Прибытие 
      .datepicker-from__value ДД.ММ.ГГГГ
        i.datepicker-from__icon.material-icons expand_more
    .datepicker-from
      h3 Выезд
      .datepicker-from__value ДД.ММ.ГГГГ
        i.datepicker-from__icon.material-icons expand_more
  h3 гости
  .dropdown-count 
      .dropdown-count__placeholder 
        span.dropdown-count__placeholder-text Сколько гостей
        .dropdown-count__icon.material-icons expand_more
      .dropdown-count__options
        ul.dropdown-count__list
          li.dropdown-count__list-item Взрослые
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item Дети
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item Младенцы
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
        .dropdown-count__enter
          a.dropdown-count__clear-button
          a Применить
  ul.booking-block__services 
    li.booking-block__services-item
      .booking-block__service-name 9 990₽ х 4 суток
      .booking-block__service-price 39 960₽
    li.booking-block__services-item
      .booking-block__service-wrapper
        .booking-block__service-name Сбор за услуги: скидка 2 179₽
        .booking-block__service-name-info i
      .booking-block__service-price 0₽
    li.booking-block__services-item
      .booking-block__service-wrapper
        .booking-block__service-name Сбор за дополнительные услуги
        .booking-block__service-name-info i
      .booking-block__service-price 300₽
  .booking-block__total-price-block 
    .booking-block__total Итого
    .booking-block__dashed-block
    .booking-block__total-price 38 081₽
  button.btn.btn-enter Забронировать
      span.material-icons arrow_forward
.login-block 
  h1 Войти
  form(action="") 
    input.text-input(type="text" placeholder="Email") 
    input.text-input(type="password" placeholder="Пароль") 
    button.btn.btn-enter Войти
      span.material-icons arrow_forward
    .login-block__create-account-row 
      span Нет аккаунта Toxin?
      button.btn.btn_primary-border 
        .btn_primary-border__inner Создать
.calendar
  .calendar__mounth-panel 
    a.calendar__arrow.material-icons arrow_back
    .calendar__mounth Август 2019
    a.calendar__arrow.material-icons arrow_forward
  .calendar__table
  .calendar__buttons
    a.calendar__clear-button Очистить
    a Применить
.room-card 
  .room-card__slider.slider
    .slider__slides
      img.slider__slide(src="../src/assets/img/image.jpg", alt="")
      img.slider__slide(src="../src/assets/img/image.jpg", alt="")
      img.slider__slide(src="../src/assets/img/image.jpg", alt="")
      img.slider__slide(src="../src/assets/img/image.jpg", alt="")
    .slider__next-arrow 
      a.material-icons expand_more
    .slider__prev-arrow
      a.material-icons expand_more
    .slider__dots 
     .slider__dot.slider__dot_active 
     .slider__dot 
     .slider__dot 
     .slider__dot 
  .room-card__body 
    .room-card__info 
      .room-card__room № 
        span.room-card__num 888
        span.room-card__lux люкс
      .room-card__price 
        strong 9 990₽ 
        | в сутки
    .room-card__rate   
      .rate-button
        .rate-button__star.material-icons(data-checked='false' value='1') star_border
        .rate-button__star.material-icons(data-checked='false' value='2') star_border
        .rate-button__star.material-icons(data-checked='false' value='3') star_border
        .rate-button__star.material-icons(data-checked='false' value='4') star_border
        .rate-button__star.material-icons(data-checked='false' value='5') star_border
      .room-card__feedback
        strong 145 
        | Отзывов