@import "ui.scss";

@mixin block-style {
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.btn.btn_primary-border {
  width: 99px;
}

.registration-form {
  @include block-style;
  width: 380px;

  &__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: black;
    }
  }
  .masked-text-field {
    margin-bottom: 20px;
  }
  .btn.btn-enter {
    margin-bottom: 30px;
  }
  .btn.btn_primary-border {
    width: 99px;
  }
}

.kek {
  background-image: url(../assets/img/image.jpg);
  background-size: cover;
  height: 200px;
  width: 200px;
}
