doctype html
html(lang='ru')
  head
    title Jade
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body.ui-body
    h1 This one is the sub-section or widget title
    h2 Next one is the item title inside widgets
    h3 This is a label or CTA text
    h3 text field
    input.email-input(type="text" placeholder="Email") 
    input.email-input-hover(type="text" placeholder="Email")
    h3 date picker 
    .datepicker-from ДД.ММ.ГГГГ
      i.datepicker-from__icon.material-icons expand_more
    h3 subscription text field
    .subscription-container  
      input.subscription-container__input(type="text" placeholder='Email')
      span.subscription-container__icon.material-icons arrow_forward
    select#drop.dropdown(name="drop") 
      option(value="" disabled selected) Сколько гостей
      option(value="1") lol
    input.masked-text-field(type="", name="", placeholder="ДД.ММ.ГГГГ")
    select#date-dropdown.date-dropdown(name="date-drop") 
      option(value="" disabled selected) ДД.ММ.ГГГГ
      - var arrDate = ["12.12.1996",'19.28.2019']
      each val,i in arrDate
        option(value=i+1)=val
    select#filter-date-dropdown.filter-dete-dropdown(name="") 
      - var arrDateFilter = ["19 авг - 23 авг",'24 авг - 26 авг']
      each val,i in arrDateFilter
        option(value=i+1)=val
    select#dropdown-rooms-count-expanded.dropdown-expanded(name="") 
      option.dropdown-expanded__option(value="") Спальни
        button.dropdown-rooms-count-expanded__option__button-down
        span.dropdown-rooms-count-expanded__option__count 0
        button.dropdown-rooms-count-expanded__option__button-up
      option(value="") Кровати
      option(value="") Ванные комнаты
    h3 Checkbox Buttons
    form.form-checkbox(action="")
        label(for="one1").form-checkbox__item Можно курить
          input.form-checkbox__input(type="checkbox" id="one1" name='one1' checked="checked")
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="two1").form-checkbox__item Можно с питомцами
          input.form-checkbox__input(type="checkbox" id="two1" name='two1')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert 
        label(for="three1").form-checkbox__item Можно пригласить гостей (до 10 человек)
          input.form-checkbox__input(type="checkbox" id="three1" name='three1')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
    .expendable-checkbox-list
      button.expendable-checkbox-list__button expandable checkbox list
        span.expendable-checkbox-list__icon.material-icons expand_more
      form.expendable-checkbox-list__form.form-checkbox(action="")
        label(for="one").form-checkbox__item Завтрак
          input.form-checkbox__input(type="checkbox" id="one" name='one' checked="checked")
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="two").form-checkbox__item Письменный стол
          input.form-checkbox__input(type="checkbox" id="two" name='two')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert 
        label(for="three").form-checkbox__item Стул для кормления
          input.form-checkbox__input(type="checkbox" id="three" name='three')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="four").form-checkbox__item Кроватка
          input.form-checkbox__input(type="checkbox" id="four" name='four')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="five").form-checkbox__item Телевизор
          input.form-checkbox__input(type="checkbox" id="five" name='five')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="six").form-checkbox__item Шампунь
          input.form-checkbox__input(type="checkbox" id="six" name='six')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="seven").form-checkbox__item Телевизор
          input.form-checkbox__input(type="checkbox" id="seven" name='seven')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="eight").form-checkbox__item Шампунь
          input.form-checkbox__input(type="checkbox" id="eight" name='eight')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
    .bage
      span.bage__icon.material-icons insert_emoticon
      .bage__info
        .bage__info__heading Комфорт
        span.bage__info__body Шумопоглощающие стены
    .bage
      span.bage__icon.material-icons location_city
      .bage__info
        .bage__info__heading Удобство
        span.bage__info__body Окно в каждой из спален
    .radio-buttons
    label.radio-button(for= 'radio-one') Мужчина
      input.radio-button__radio(type="radio" id="radio-one" name="radio")
      .radio-button__custom-radio
        .radio-button__checkmark
    label.radio-button(for= 'radio-two') Женщина
      input.radio-button__radio(type="radio" id="radio-two" name="radio")
      .radio-button__custom-radio
        .radio-button__checkmark
    .togglers
      label.toggle-button(for="toggle-one" checked="checked") Получать спецпредложения
        input.toggle-button__input(type="checkbox" id='toggle-one' name="toggle-one")
        .toggle-button__custom-checkbox
          .toggle-button__checkmark
      label.toggle-button(for="toggle-two") Получать спецпредложения
        input.toggle-button__input(type="checkbox" id='toggle-two' name="toggle-two")
        .toggle-button__custom-checkbox
          .toggle-button__checkmark
    h3.like-buttons Like button
      .like-button
        .like-button__icon.material-icons  favorite 
        span.like-button__count-like 0
      .like-button.like-button_active
        .like-button__icon.material-icons.like-button__icon_active  favorite 
        span.like-button__count-like 12
    h3.rate-buttons Rate button
    .rate-button
      .rate-button__star.material-icons(data-checked='false' value='1') star_border
      .rate-button__star.material-icons(data-checked='false' value='2') star_border
      .rate-button__star.material-icons(data-checked='false' value='3') star_border
      .rate-button__star.material-icons(data-checked='false' value='4') star_border
      .rate-button__star.material-icons(data-checked='false' value='5') star_border
    h3 dropdown 
    .dropdown-count.bedrooms-count 
      .dropdown-count__placeholder 
        span.dropdown-count__placeholder-text 2 спальни, 2 кровати
        .dropdown-count__icon.material-icons expand_more
      .dropdown-count__options
        ul.dropdown-count__list
          li.dropdown-count__list-item 
            span.dropdown-count__list-item-title спальни
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item 
            span.dropdown-count__list-item-title кровати
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item 
            span.dropdown-count__list-item-title ванные комнаты 
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
    h3 Custom Dropdown
    .dropdown-count 
      .dropdown-count__placeholder 
        span.dropdown-count__placeholder-text Сколько гостей
        .dropdown-count__icon.material-icons expand_more
      .dropdown-count__options
        ul.dropdown-count__list
          li.dropdown-count__list-item Взрослые
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item Дети
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
          li.dropdown-count__list-item Младенцы
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0
              button.set-value-button__up +
        .dropdown-count__enter
          a.dropdown-count__clear-button
          a Применить
    h3 rich Checkbox Buttons
    h3 buttons
    button.btn.btn_primary-gradient click me
    button.btn.btn_primary-gradient-opacity5 click me
    button.btn.btn_primary-border
     .btn_primary-border__inner click me
    button.btn.btn_primary-border-opacity5
     .btn_primary-border-opacity5__inner click me
    a.btn-link click me
    a.btn-link_hover click me
    button.btn.btn-enter Перейти к оплате
      span.material-icons arrow_forward
    form.range-slider(action="")
    .range-slider__wrapper
      label.range-slider__title(for="myRange")  Range slider
      input.range-slider__value(type="text" id="myRange" readonly value="5 000₽ - 10 000₽")
    #slider-range.range-slider__slider
    h3 pagination
    .pagination
      ul.pagination__list
        li.pagination__item.pagination_active 
          a 1
        li.pagination__item
          a 2
        li.pagination__item
          a 3
        li.pagination__item
          a ...
        li.pagination__item
          a 15
        li.pagination__item.pagination__item_last
          a.material-icons arrow_forward
      span.pagination__footer 1 – 12 из 100+ вариантов аренды
    h3 rich checkbox buttons
    form.rich-checkbox.form-checkbox(action="")
      .form-checkbox__item
        label(for="coridor")
          input.form-checkbox__input(type="checkbox" id="coridor")
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark 
              .form-checkbox__check-mark-insert
          .rich-checkbox__text
            p.rich-checkbox__title Широкий коридор
            p.rich-checkbox__body Ширина коридоров в номере не менее 91 см.
      .form-checkbox__item
        label(for="coridor2")
          input.form-checkbox__input(type="checkbox" id="coridor2")
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark 
              .form-checkbox__check-mark-insert
          .rich-checkbox__text
            p.rich-checkbox__title Помощник для инвалидов
            p.rich-checkbox__body На 1 этаже вас встретит специалист  и проводит до номера.   
    h3 bullet list
    ul.bullet-list 
      li.bullet-list__item Нельзя с питомцами 
      li.bullet-list__item Без вечеринок и мероприятий
      li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00 
    .comment
      .comment__image-block 
        img.comment__photo(src="", alt="")
        .like-button
          .like-button__icon.material-icons  favorite 
          span.like-button__count-like 0
      .comment__body 
        .comment__title Мурад Сарафанов
        .comment__subtitle 5 дней назад
        p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
    h3 date picker 
    label(for="datepicker") anime
      input(type="text" id='datepicker')
    

      
