doctype html
html(lang='en')
  head
    title Jade
  body
    label.label-input(for="drop") Dropdown 
    input.email-input(type="text" placeholder="Email") 
    input.email-input-hover(type="text" placeholder="Email") 
    select#drop.dropdown(name="drop" placeholder="Сколько гостей") 
      option(value="1") lol
    input.masked-text-field(type="", name="", placeholder="ДД.ММ.ГГГГ")

