doctype html
html(lang='en')
  head
    title Jade
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body.ui-body
    h1 This one is the sub-section or widget title
    h2 Next one is the item title inside widgets
    h3 This is a label or CTA text
    label.label-input(for="drop") Dropdown 
    input.email-input(type="text" placeholder="Email") 
    input.email-input-hover(type="text" placeholder="Email") 
    select#drop.dropdown(name="drop") 
      option(value="" disabled selected) Сколько гостей
      option(value="1") lol
    input.masked-text-field(type="", name="", placeholder="ДД.ММ.ГГГГ")
    select#date-dropdown.date-dropdown(name="date-drop") 
      option(value="" disabled selected) ДД.ММ.ГГГГ
      - var arrDate = ["12.12.1996",'19.28.2019']
      each val,i in arrDate
        option(value=i+1)=val
    select#filter-date-dropdown.filter-dete-dropdown(name="") 
      - var arrDateFilter = ["19 авг - 23 авг",'24 авг - 26 авг']
      each val,i in arrDateFilter
        option(value=i+1)=val
    select#dropdown-rooms-count-expanded.dropdown-expanded(name="") 
      option.dropdown-expanded__option(value="") Спальни
        button.dropdown-rooms-count-expanded__option__button-down
        span.dropdown-rooms-count-expanded__option__count 0
        button.dropdown-rooms-count-expanded__option__button-up
      option(value="") Кровати
      option(value="") Ванные комнаты
    .uk-inline
      button.uk-button.uk-button-default(type='button') click me pls
      .uk-label(uk-dropdown) ololl
    form.form-checkbox(action="")
        label(for="one1").form-checkbox__item Можно курить
          input.form-checkbox__input(type="checkbox" id="one1" name='one1' checked="checked")
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="two1").form-checkbox__item Можно с питомцами
          input.form-checkbox__input(type="checkbox" id="two1" name='two1')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert 
        label(for="three1").form-checkbox__item Можно пригласить гостей (до 10 человек)
          input.form-checkbox__input(type="checkbox" id="three1" name='three1')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
    .expendable-checkbox-list
      button.expendable-checkbox-list__button expandable checkbox list
        span.expendable-checkbox-list__icon.material-icons expand_more
      form.expendable-checkbox-list__form.form-checkbox(action="")
        label(for="one").form-checkbox__item Завтрак
          input.form-checkbox__input(type="checkbox" id="one" name='one' checked="checked")
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="two").form-checkbox__item Письменный стол
          input.form-checkbox__input(type="checkbox" id="two" name='two')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert 
        label(for="three").form-checkbox__item Стул для кормления
          input.form-checkbox__input(type="checkbox" id="three" name='three')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="four").form-checkbox__item Кроватка
          input.form-checkbox__input(type="checkbox" id="four" name='four')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="five").form-checkbox__item Телевизор
          input.form-checkbox__input(type="checkbox" id="five" name='five')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="six").form-checkbox__item Шампунь
          input.form-checkbox__input(type="checkbox" id="six" name='six')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="seven").form-checkbox__item Телевизор
          input.form-checkbox__input(type="checkbox" id="seven" name='seven')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
        label(for="eight").form-checkbox__item Шампунь
          input.form-checkbox__input(type="checkbox" id="eight" name='eight')
          .form-checkbox__custom-checkbox
            .form-checkbox__check-mark
              .form-checkbox__check-mark-insert
    .bage
      span.bage__icon.material-icons insert_emoticon
      .bage__info
        .bage__info__heading Комфорт
        span.bage__info__body Шумопоглощающие стены
    .bage
      span.bage__icon.material-icons location_city
      .bage__info
        .bage__info__heading Удобство
        span.bage__info__body Окно в каждой из спален
    .radio-buttons
    label.radio-button(for= 'radio-one') Мужчина
      input.radio-button__radio(type="radio" id="radio-one" name="radio")
      .radio-button__custom-radio
        .radio-button__checkmark
    label.radio-button(for= 'radio-two') Женщина
      input.radio-button__radio(type="radio" id="radio-two" name="radio")
      .radio-button__custom-radio
        .radio-button__checkmark
    .togglers
      label.toggle-button(for="toggle-one" checked="checked") Получать спецпредложения
        input.toggle-button__input(type="checkbox" id='toggle-one' name="toggle-one")
        .toggle-button__custom-checkbox
          .toggle-button__checkmark
      label.toggle-button(for="toggle-two") Получать спецпредложения
        input.toggle-button__input(type="checkbox" id='toggle-two' name="toggle-two")
        .toggle-button__custom-checkbox
          .toggle-button__checkmark
    h3.like-buttons Like button
      .like-button
        .like-button__icon.material-icons  favorite 
        span.like-button__count-like 0
      .like-button.like-button_active
        .like-button__icon.material-icons.like-button__icon_active  favorite 
        span.like-button__count-like 12
    h3.rate-buttons Rate button
    .rate-button
      .rate-button__star.material-icons(data-checked='false' value='1') star_border
      .rate-button__star.material-icons(data-checked='false' value='2') star_border
      .rate-button__star.material-icons(data-checked='false' value='3') star_border
      .rate-button__star.material-icons(data-checked='false' value='4') star_border
      .rate-button__star.material-icons(data-checked='false' value='5') star_border
    h3 Custom Dropdown
    .dropdown-count-guests 
      .dropdown-count-guests__placeholder 
        span Сколько гостей
        .dropdown-count-guests__icon.material-icons expand_more
      .dropdown-count-guests__options
        ul.dropdown-count-guests__list
          li.dropdown-count-guests__list-item Взрослые
            .set-value-button 
              button.set-value-button__down -
              span.set-value-button__value 0 
              button.set-value-button__up +
        .dropdown-count-guests__enter
          a Применить
