doctype html
html(lang='en')
  head
    title Jade
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body.ui-body
    label.label-input(for="drop") Dropdown 
    input.email-input(type="text" placeholder="Email") 
    input.email-input-hover(type="text" placeholder="Email") 
    select#drop.dropdown(name="drop") 
      option(value="" disabled selected) Сколько гостей
      option(value="1") lol
    input.masked-text-field(type="", name="", placeholder="ДД.ММ.ГГГГ")
    select#date-dropdown.date-dropdown(name="date-drop") 
      option(value="" disabled selected) ДД.ММ.ГГГГ
      - var arrDate = ["12.12.1996",'19.28.2019']
      each val,i in arrDate
        option(value=i+1)=val
    select#filter-date-dropdown.filter-dete-dropdown(name="") 
      - var arrDateFilter = ["19 авг - 23 авг",'24 авг - 26 авг']
      each val,i in arrDateFilter
        option(value=i+1)=val
    select#dropdown-rooms-count-expanded.dropdown-expanded(name="") 
      option.dropdown-expanded__option(value="") Спальни
        button.dropdown-rooms-count-expanded__option__button-down
        span.dropdown-rooms-count-expanded__option__count 0
        button.dropdown-rooms-count-expanded__option__button-up
      option(value="") Кровати
      option(value="") Ванные комнаты
    .uk-inline
      button.uk-button.uk-button-default(type='button') click me pls
      .uk-label(uk-dropdown) ololl
    .expendable-checkbox-list
      button.expendable-checkbox-list__button expandable checkbox list
        span.expendable-checkbox-list__button__icon.material-icons expand_more
      form.expendable-checkbox-list__form(action="")
        label(for="one").expendable-checkbox-list__form__item Завтрак
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="one" name='one' checked="checked")
          span.expendable-checkbox-list__form__item__custom-checkbox
        label(for="two").expendable-checkbox-list__form__item Письменный стол
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="two" name='two')
          span.expendable-checkbox-list__form__item__custom-checkbox 
        label(for="three").expendable-checkbox-list__form__item Стул для кормления
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="three" name='three')
          span.expendable-checkbox-list__form__item__custom-checkbox
        label(for="four").expendable-checkbox-list__form__item Кроватка
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="four" name='four')
          span.expendable-checkbox-list__form__item__custom-checkbox
        label(for="five").expendable-checkbox-list__form__item Телевизор
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="five" name='five')
          span.expendable-checkbox-list__form__item__custom-checkbox
        label(for="six").expendable-checkbox-list__form__item Шампунь
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="six" name='six')
          span.expendable-checkbox-list__form__item__custom-checkbox
        label(for="seven").expendable-checkbox-list__form__item Телевизор
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="seven" name='seven')
          span.expendable-checkbox-list__form__item__custom-checkbox
        label(for="eight").expendable-checkbox-list__form__item Шампунь
          input.expendable-checkbox-list__form__item__input(type="checkbox" id="eight" name='eight')
          span.expendable-checkbox-list__form__item__custom-checkbox
    .bage
      span.bage__icon.material-icons insert_emoticon
      .bage__info
        .bage__info__heading Комфорт
        span.bage__info__body Шумопоглощающие стены
    .bage
      span.bage__icon.material-icons location_city
      .bage__info
        .bage__info__heading Удобство
        span.bage__info__body Окно в каждой из спален
    
