$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

@mixin gradient-text {
  background: -webkit-linear-gradient(#bc9cff, #8ba4f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  text-transform: uppercase;
}
.ui-body {
  margin: 5%;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
h2 {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
}
h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade-100;
}

.email-input,
.dropdown,
.email-input-hover,
.masked-text-field,
.date-dropdown,
.filter-dete-dropdown {
  padding: 13px 0 13px 15px;
}

.email-input,
.masked-text-field {
  color: $dark-shade-25;
}
.email-input-hover,
.dropdown,
.date-dropdown,
.filter-dete-dropdown {
  color: $dark-shade-75;
}
.expendable-checkbox-list {
  .form-checkbox {
    display: none;
  }
  .expendable-checkbox-list__icon {
    color: $dark-shade-50;
    padding: 10px;
  }
  .expendable-checkbox-list__button {
    font-size: 12px;
    font-weight: 700;
    padding: 13px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.form-checkbox {
  .form-checkbox__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
    height: 22px;
    color: $dark-shade-50;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 30px;
    cursor: pointer;
    .form-checkbox__input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }
    .form-checkbox__custom-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 0;
      height: 20px;
      width: 20px;
      background-color: white;
      border: 1px solid $dark-shade-25;
      border-radius: 4px;
    }
    .form-checkbox__custom-checkbox:hover,
    .form-checkbox__input:checked ~ .form-checkbox__custom-checkbox {
      border: 1px solid $purple;
    }
    .form-checkbox__input:checked ~ .form-checkbox__custom-checkbox .form-checkbox__check-mark {
      display: block;
    }
    .form-checkbox__check-mark {
      display: none;
      position: relative;
      height: 8px;
      width: 6px;
      margin: auto;
      background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      .form-checkbox__check-mark-insert {
        height: 6px;
        width: 4px;
        background-color: white;
        transform: translateY(-0.5px) translateX(-0.5px);
      }
    }
  }
}
.bage {
  display: flex;
  align-items: center;
  padding: 17px 0;
  line-height: 24px;
  border-bottom: 1px #1f20411a solid;
  width: 280px;
  color: $dark-shade-75;
  .bage__icon {
    font-size: 48px;
    margin-right: 10px;
    background: -webkit-linear-gradient(#bc9cff, #8ba4f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bage__info {
    .bage__info__heading {
      font-weight: 700;
    }
  }
}
.radio-button {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  color: $dark-shade-75;
  cursor: pointer;
  .radio-button__radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .radio-button__custom-radio {
    height: 20px;
    width: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    .radio-button__checkmark {
      display: none;
      width: 12px;
      height: 12px;
      margin: 3px;
      border-radius: 10px;
      background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
  }
  .radio-button__radio:checked ~ .radio-button__custom-radio .radio-button__checkmark {
    display: block;
  }
  .radio-button__radio:checked ~ .radio-button__custom-radio,
  .radio-button:hover ~ .radio-button__custom-radio {
    border: 1px solid $purple;
  }
}
.toggle-button {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: $dark-shade-75;
  cursor: pointer;
  .toggle-button__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .toggle-button__custom-checkbox {
    height: 20px;
    width: 40px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    .toggle-button__checkmark {
      width: 12px;
      height: 12px;
      margin: 3px;
      border-radius: 10px;
      background-color: $dark-shade-25;
    }
  }
  .toggle-button__input:checked ~ .toggle-button__custom-checkbox .toggle-button__checkmark {
    background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    transform: translateX(20px);
  }
  .toggle-button__input:checked ~ .toggle-button__custom-checkbox,
  .toggle-button:hover ~ .toggle-button__custom-checkbox {
    border: 1px solid $purple;
  }
}

.like-button {
  font-size: 10px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  width: 40px;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  color: $dark-shade-25;
  .like-button__icon {
    padding: 0 4px;
    font-size: 10px;
  }
  .like-button__count-like {
    line-height: 12px;
  }

  .like-button__icon_active {
    background: -webkit-linear-gradient(#bc9cff, #8ba4f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.like-button:hover,
.like-button_active {
  border: 1px solid $purple;
  color: $purple;
}

.rate-button {
  display: inline-flex;

  &__star {
    @include gradient-text;
    cursor: pointer;
  }
}

.dropdown-count-guests {
  position: relative;
  width: 320px;
  &__placeholder {
    padding-left: 15px;
    width: 320px;
    line-height: 18px;
    border: 1px solid $dark-shade-50;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__icon {
    padding: 10px;
  }
  &__list {
    padding: 0;
    margin-bottom: 19px;
  }
  &__options {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 7px 15px 15px;
    text-transform: uppercase;
    color: $dark-shade-100;
    border: 1px solid $dark-shade-50;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade-5;
  }
  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  &__enter {
    display: flex;
    color: $purple;
    justify-content: space-between;

    & a {
      cursor: pointer;
    }
  }
}

.set-value-button {
  width: 92px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  &__up,
  &__down {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid $dark-shade-50;
    border-radius: 22px;
    background-color: white;
    color: $dark-shade-50;
  }
  .not-active {
    border: 1px solid $dark-shade-25;
    color: $dark-shade-25;
    cursor: auto;
  }
}
.btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 15px 20px;
  margin-right: 20px;
  border-radius: 22px;
  border: none;
}

.btn_primary-gradient,
.btn_primary-gradient-opacity5,
.btn_primary-border,
.btn_primary-border-opacity5,
.btn-enter {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: white;
}

.btn_primary-gradient-opacity5 {
  opacity: 0.5;
}
.btn_primary-border,
.btn_primary-border-opacity5 {
  padding: 2px;
  &__inner {
    background-color: white;
    padding: 13px;
    border-radius: 22px;
    color: $purple;
  }
}
.btn_primary-border-opacity5 {
  background: linear-gradient(180deg, rgba(187, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.btn-link,
.btn-link_hover {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 20px;
  text-transform: uppercase;
  color: $purple;
}

.btn-link_hover {
  color: $dark-shade-50;
}

.btn-enter {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 44px;
  .material-icons {
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 0;
  }
}
