$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

@mixin gradient-text {
  background: -webkit-linear-gradient(#bc9cff, #8ba4f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin purple-gradient {
  background: -webkit-linear-gradient(#bc9cff, #8ba4f9);
}
@mixin green-gradient {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
button {
  cursor: pointer;
  text-transform: uppercase;
}
.ui-body {
  margin: 5%;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
h2 {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
}
h3,
.range-slider__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade-100;
}

.email-input,
.dropdown,
.email-input-hover,
.masked-text-field,
.date-dropdown,
.filter-date-dropdown {
  padding: 13px 0 13px 15px;
  width: 320px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
}

.email-input,
.email-input::placeholder,
.masked-text-field::placeholder {
  color: $dark-shade-25;
}

.email-input:hover,
.email-input:focus,
.email-input-hover {
  color: $dark-shade-75;
  border-color: $dark-shade-50;
}

.email-input-hover,
.dropdown,
.date-dropdown,
.filter-dete-dropdown {
  color: $dark-shade-75;
}
.subscription-container {
  position: relative;
  width: 320px;
  &__input {
    width: 100%;
    padding: 13px 0 13px 15px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
  }
  &__icon {
    position: absolute;
    padding: 10px;
    right: 0;
    @include gradient-text;
  }
}

.expendable-checkbox-list {
  .form-checkbox {
    display: none;
  }
  .expendable-checkbox-list__icon {
    color: $dark-shade-50;
    padding: 10px;
  }
  .expendable-checkbox-list__button {
    font-size: 12px;
    font-weight: 700;
    padding: 13px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.form-checkbox {
  .form-checkbox__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
    color: $dark-shade-50;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 30px;
    cursor: pointer;
    .form-checkbox__input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }
    .form-checkbox__custom-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 0;
      height: 20px;
      width: 20px;
      background-color: white;
      border: 1px solid $dark-shade-25;
      border-radius: 4px;
    }
    .form-checkbox__custom-checkbox:hover,
    .form-checkbox__input:checked ~ .form-checkbox__custom-checkbox {
      border: 1px solid $purple;
    }
    .form-checkbox__input:checked ~ .form-checkbox__custom-checkbox .form-checkbox__check-mark {
      display: block;
    }
    .form-checkbox__check-mark {
      display: none;
      position: relative;
      height: 8px;
      width: 6px;
      margin: auto;
      background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      .form-checkbox__check-mark-insert {
        height: 6px;
        width: 4px;
        background-color: white;
        transform: translateY(-0.5px) translateX(-0.5px);
      }
    }
  }
}
.bage {
  display: flex;
  align-items: center;
  padding: 17px 0;
  line-height: 24px;
  border-bottom: 1px #1f20411a solid;
  width: 280px;
  color: $dark-shade-75;
  .bage__icon {
    font-size: 48px;
    margin-right: 10px;
    @include gradient-text;
  }
  .bage__info {
    .bage__info__heading {
      font-weight: 700;
    }
  }
}
.radio-button {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  color: $dark-shade-75;
  cursor: pointer;
  .radio-button__radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .radio-button__custom-radio {
    height: 20px;
    width: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    .radio-button__checkmark {
      display: none;
      width: 12px;
      height: 12px;
      margin: 3px;
      border-radius: 10px;
      background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
  }
  .radio-button__radio:checked ~ .radio-button__custom-radio .radio-button__checkmark {
    display: block;
  }
  .radio-button__radio:checked ~ .radio-button__custom-radio,
  .radio-button:hover ~ .radio-button__custom-radio {
    border: 1px solid $purple;
  }
}
.toggle-button {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: $dark-shade-75;
  cursor: pointer;
  .toggle-button__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .toggle-button__custom-checkbox {
    height: 20px;
    width: 40px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    .toggle-button__checkmark {
      width: 12px;
      height: 12px;
      margin: 3px;
      border-radius: 10px;
      background-color: $dark-shade-25;
    }
  }
  .toggle-button__input:checked ~ .toggle-button__custom-checkbox .toggle-button__checkmark {
    background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    transform: translateX(20px);
  }
  .toggle-button__input:checked ~ .toggle-button__custom-checkbox,
  .toggle-button:hover ~ .toggle-button__custom-checkbox {
    border: 1px solid $purple;
  }
}

.like-button {
  font-size: 10px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  width: 40px;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  color: $dark-shade-25;
  .like-button__icon {
    padding: 0 4px;
    font-size: 10px;
  }
  .like-button__count-like {
    line-height: 12px;
  }

  .like-button__icon_active {
    @include gradient-text;
  }
}
.like-button:hover,
.like-button_active {
  border: 1px solid $purple;
  color: $purple;
}

.rate-button {
  display: inline-flex;

  &__star {
    @include gradient-text;
    cursor: pointer;
  }
}

.dropdown-count-guests {
  position: relative;
  width: 320px;
  &__placeholder {
    padding-left: 15px;
    width: 320px;
    line-height: 18px;
    border: 1px solid $dark-shade-50;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__icon {
    padding: 10px;
  }
  &__list {
    padding: 0;
    margin-bottom: 19px;
  }
  &__options {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 7px 15px 15px;
    text-transform: uppercase;
    color: $dark-shade-100;
    border: 1px solid $dark-shade-50;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade-5;
  }
  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  &__enter {
    display: flex;
    color: $purple;
    justify-content: space-between;

    & a {
      cursor: pointer;
    }
  }
}

.set-value-button {
  width: 92px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  &__up,
  &__down {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid $dark-shade-50;
    border-radius: 22px;
    background-color: white;
    color: $dark-shade-50;
  }
  .not-active {
    border: 1px solid $dark-shade-25;
    color: $dark-shade-25;
    cursor: auto;
  }
}
.btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 15px 20px;
  margin-right: 20px;
  border-radius: 22px;
  border: none;
}

.btn_primary-gradient,
.btn_primary-gradient-opacity5,
.btn_primary-border,
.btn_primary-border-opacity5,
.btn-enter {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: white;
}

.btn_primary-gradient-opacity5 {
  opacity: 0.5;
}
.btn_primary-border,
.btn_primary-border-opacity5 {
  padding: 2px;
  &__inner {
    background-color: white;
    padding: 13px;
    border-radius: 22px;
    color: $purple;
  }
}
.btn_primary-border-opacity5 {
  background: linear-gradient(180deg, rgba(187, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.btn-link,
.btn-link_hover {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 20px;
  text-transform: uppercase;
  color: $purple;
  cursor: pointer;
}

.btn-link_hover {
  color: $dark-shade-50;
}

.btn-enter {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 44px;
  .material-icons {
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 0;
  }
}

.range-slider {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 266px;
    margin-bottom: 20px;
  }
  &__value {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    line-height: 15px;
    border: none;
    color: $dark-shade-50;
  }
  h3 {
    display: inline !important;
  }
}

#slider-range {
  width: 266px;
  height: 6px;
  border: 1px solid $dark-shade-25;
  border-radius: 3px;
  .ui-slider-handle {
    width: 16px !important;
    height: 16px !important;
    top: -6px;
  }
  .ui-state-default {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid #ffffff;
    border-radius: 10px;
  }
  .ui-widget-header {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 3px;
  }
}

.pagination {
  &__list {
    text-align: center;
    display: flex;
    margin-bottom: 10.5px;
  }

  &__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 12.5px;
    border-radius: 22px;
    color: $dark-shade-50;

    &_last {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include green-gradient;
      color: white;
      padding: 0;
    }
  }
  &_active {
    color: white;
    @include purple-gradient;
  }
}

.rich-checkbox {
  &__title {
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    color: $dark-shade-75;
  }
  &__body {
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    margin: 0;
  }
  .form-checkbox__item {
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

.bullet-list {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &::before {
      content: "\2022";
      color: $dark-shade-25;
      font-size: 30px;
      line-height: 10px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.comment {
  display: flex;
  &__image-block {
    margin-right: 10px;
  }
  &__photo {
    height: 48px;
    width: 48px;
    margin: 0 auto 10px;
    background-color: $dark-shade-25;
    border: 2px solid #ffffff;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    border-radius: 32px;
  }
  &__title {
    font-weight: bold;
  }
  &__text {
    margin-top: 10px;
  }
  .like-button {
    margin: auto;
  }
}
