$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

@mixin gradient-text {
  background: -webkit-linear-gradient($purple, #8ba4f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin purple-gradient {
  background: -webkit-linear-gradient($purple, #8ba4f9);
}
@mixin green-gradient {
  background: linear-gradient(180deg, $green 0%, #66d2ea 100%);
}

.rich-checkbox {
  &__title {
    line-height: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    color: $dark-shade-75;
  }
  &__body {
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    margin: 0;
  }
  .form-checkbox__item {
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

.bedrooms-count {
  width: 266px;
  .dropdown-count__placeholder {
    width: 266px;
  }
  .dropdown-count__options {
    padding-bottom: 8px;
  }
  .dropdown-count__list {
    margin: 0;
  }
}
