.header {
  .container {
    display: flex;
    justify-content: space-between;
  }
  padding: 15px;
  &__logo {
    display: flex;
  }

  background-color: white;
  &__nav {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
    &-item {
      margin-right: 20px;
      line-height: 17px;
      color: $dark-shade-50;
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
      &_active {
        font-weight: 700;
        color: $dark-shade-75;
      }
    }
  }
  &__login {
    .btn {
      padding: 9px 20px 10px;
    }
    .btn_primary-border {
      margin-right: 20px;
      padding: 2px 2px;
      width: 87px;
      &__inner {
        padding: 7px 19px 8px;
      }
    }
    .btn_primary-gradient {
      width: 196px;
    }
  }
}
