
.pagination
  ul.pagination__list
    li.pagination__item.pagination_active 
      a 1
    li.pagination__item
      a 2
    li.pagination__item
      a 3
    li.pagination__item
      a ...
    li.pagination__item
      a 15
    li.pagination__item.pagination__item_last
      a.material-icons arrow_forward
  span.pagination__footer 1 – 12 из 100+ вариантов аренды