.room-card 
  .room-card__slider.slider
    .slider__slides
      //- img.slider__slide(src=require("../../assets/img/image.jpg"), alt="")
      //- img.slider__slide(src=require("../../assets/img/image.jpg"), alt="")
      //- img.slider__slide(src=require("../../assets/img/image.jpg"), alt="")
      //- img.slider__slide(src=require("../../assets/img/image.jpg"), alt="" )
    .slider__next-arrow 
      a.material-icons.slider__next-arrow-icon expand_more
    .slider__prev-arrow
      a.material-icons.slider__prev-arrow-icon expand_more
    .slider__dots 
      .slider__dot.slider__dot_active 
      .slider__dot 
      .slider__dot 
      .slider__dot 
  .room-card__body 
    .room-card__info 
      .room-card__room № 
        span.room-card__num 888
        span.room-card__lux люкс
      .room-card__price 
        strong 9 990₽ 
        | в сутки
    .room-card__rate   
      +rate-button(4)
      .room-card__feedback
        strong 145 
        | Отзывов
        