doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Войти
  body 
    include ../ui-kit/header/header/header.pug
    .login-page
      include ../ui-kit/login-card/login-card.pug
    include ../ui-kit/footer/footer.pug